.mr-0 {
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 2px;
  color: rgb(70, 70, 70);
  margin-top: 10px;
}


h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

a.btn-download
{
    color: #4A4A4A;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 1px solid grey;
    transition: .2;
    font-size: 10px;
}

a.btn-download:hover
{
  color: #ee3e42;
  border-bottom: 1px solid #ee3e42;
}
