 h6 {
  margin-top: -8px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 16px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  }

.avatar {
  text-align: center;
  margin-bottom: 50px;
}

td img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.legend {
  color: rgba(0, 0, 0, 0.6);
}

table button[type=submit] {
    color: #323131;
    background: none;
    border:0 none;
    cursor:pointer;
}

table button[type=submit]:hover {
    color: #014c8c;
}

table thead.thead-dark th.heading {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center;
  text-transform: uppercase;
}

tr.accordion-toggle {
    cursor: pointer;
}

table tr.accordion-toggle:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.hiddenRow {
    padding: 0 4px !important;
    font-size: 13px;
}

.table .table {
  color: black;
}
