.heading {
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.heading h2 {
  background-color: #212529;
}


span.tip {
  color: rgba(0, 0, 0, 0.4);
}

span.title {
  font-size: 25px;
  color: black;
}

output {
  position: relative;
  left: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
}

label {
  display: block;
  margin-right: 10px;
  color: #4D2529;
}

input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 40%;
  background: none;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3D8DD;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #4D2529;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E3D8DD;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3D8DD;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #4D2529;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E3D8DD;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E3D8DD;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #4D2529;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E3D8DD;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E3D8DD;
}

@media (max-width: 800px) {
  input[type=range] {
    width: 80%;
  }
}
